.btnresponder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnresponder input {
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #C00000;
    color: white;

    border-color: #C00000;
    -webkit-transition: font-size 500ms ease-out;
    -moz-transition: font-size 500ms ease-out;
    -o-transition: font-size 500ms ease-out;
}

.btnresponder input:hover {
    background-color: white;
    color: #C00000;
    font-size: 1.6rem;
    border-color: #C00000;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
}


.carnet {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap !important;
   max-width: 1000px;
 
    display: flex;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.677);
    border-radius: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    .carnet {
        flex-direction: column;
        align-items: center;


    }

    .inforcarnet {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

}
@media screen and (max-width:984px) {
    .inforcarnet {
        width: 100% !important;
    }

}

.inforcarnet {
    display: flex;
    flex-direction: column;
    width: 70%;



}

.datos-carnet {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
}

.datos-carnet div {
    width: 50%;
    display: flex;
    align-items: center;
}
.datos-carnet div p{
    margin-bottom: 0 !important;
}

.logo-iestp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.estado-carnet {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    width: 100%;
}
.estadobtn input{
    font-size: 2rem;
}

.center-carnet{
    display: flex;
    justify-content: center;
}